<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <a class="navbar-brand" href="index.htm">$!config.title</a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li>欢迎您：$!{user.userName}</li>
    <li><a href="$!webPath/admin/logout.htm" target="_self">安全退出</a></li>
    <li><a href="$!webPath/admin/admin_pws.htm" target="main_workspace">修改密码</a></li>
    <li><a href="$!webPath/index.htm" target="_blank">商城首页</a></li>
  </ul>
</nav>