<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("/WEB-INF/templates/partials/seller/head.html")
  <body class="seller_body">
    <div class="wrapper">
      #parse("/WEB-INF/templates/partials/seller/navbar.html")
      #parse("/WEB-INF/templates/partials/seller/sidebar.html")
      <div id="page-wrapper">
        $screen_content
      </div>
    </div>
  #parse("/WEB-INF/templates/partials/admin/foot.html")
  </body>
</html>