﻿
<div style="border-bottom: 2px solid #B61D1D;width: 100%;text-align: center;">

<div class="nav" style="width: 1200px;margin: auto;"> <span class="navright"></span>
    <div class="navleft" style="font-size: 16px;">
    
        <b class="nav_lefts" style="background-color: #B61D1D;width: 242px;color:#FFFFFF; ">全部商品分类
    <span>
    </span></b>
    </div>
    <ul class="navul">
    #set($navs=$!navTools.queryNav(0,-1))
    #foreach($nav in $navs)
    #if($!CommUtil.indexOf("$!nav.url","http://")>=0)
      #set($url="$!nav.url")
    #else
      #set($url="$!webPath/$!{nav.url}")
    #end
    <li style="font-size: 18px;"><a href="$!url" id="$!nav.id" #if($!nav.new_win==1)target="_blank"#end original_url="$!nav.original_url"><span>$!{nav.title}</span></a></li>
    #end
    </ul>
  </div>
 </div>
<script>
jQuery(document).ready(function(){
  jQuery(".navul a").each(function(){
    var original_url=jQuery(this).attr("original_url");
	if("$!{current_url}".indexOf(original_url)>=0){
	   jQuery(this).addClass("this");	
	}
  });
});
</script>
