.productmain{border: 1px solid #d7d7d7;overflow: hidden;margin: 5px;padding-bottom: 20px;background: #fff;}
.buyer_position{padding: 1px;background: #F9FAFC;border: 1px solid #C4D5DF;height: 30px;line-height: 30px;margin-left: 5px;margin-top: 5px;}
.buyer_p_box{background: #fff;height: 30px;padding-left: 10px;}
.buyer_p_box a{color: #498CD0;margin-right: 5px;}
.buyer_p_box a:hover{text-decoration: underline}
.buyer_p_box span{margin-left: 5px;color: #333;font-size: 12px;font-weight: bold}
.ordernav{overflow: hidden;margin-top: 10px;position: relative;top: 1px;}
.orderul{padding-left: 20px;}
.orderul li{list-style:none;float: left;padding-left: 15px;padding-right: 15px;text-align: center;line-height: 29px;height: 29px;border: 1px solid #AED2FF;margin-right: 3px;font-weight: bold;background: #E8F2FF;border-bottom: 0px;color: #000;cursor: pointer;border-radius:4px 4px 0px 0px;}
.orderul .this{border-bottom: 0px;color: #0771DF;height: 30px;line-height: 30px;background: #fff;border: 1px solid #D8D8D8;border-bottom: 0px;}
.orderul .this a{color: #0771DF;}
.ordercon{border-top: 1px solid #D8D8D8;position: static;float: left;}
.ordersear{height: 30px;margin-top: 20px;padding-left: 20px;}
.ordersear span{display: block;float: left;height: 30px;line-height: 30px;margin-right: 5px;}
.ordersp1 input{height: 18px;line-height: 18px;padding-left: 5px;margin-top: 5px;}
.myorder{padding-left: 25px;margin-top: 10px;}
.alldel{float: right;}
.size4 input{width: 95px;}
.size3 input{width: 120px;}
.size5 input{width: 150px;}
.Order{margin:0px auto;}
.myorder{padding-left: 3px;margin-top: 10px;}
.Order_box{border:1px solid #d8d8d8; float:left; margin-bottom:10px; margin-top: 10px}
.Order_box li {list-style:none;}
.Order_box .line01{float:left; height:30px; line-height:30px;background-color:#edf6ff; padding-left:10px; border-bottom:1px solid #d8d8d8;}
.Order_box .line01 li{float:left; margin-right:10px;}
.Order_box .line01 .li_01 span{color:#090;}
.Order_box .line01 .li_02 span{color:#999;}
.Order_box .line01 .li_021{float:right;}
.Order_box .line01 .li_021 img{margin-top:3px;}
.Order_box .line01 .li_03{height:20px; float:left; background:url(../images/usercenter/order_01.gif) no-repeat 5px 3px; margin-top:5px; line-height:20px; padding-left:20px; border:1px solid #CCC; border-radius:4px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); background-color:#FFF;}
.Order_box .line01 .li_04{height:18px; float:right; border:1px solid #cbe4ff; line-height:18px; margin-top:5px; border-radius:4px; text-align:left; background:url(../images/usercenter/order_02.gif) no-repeat 5px 3px #FFF; padding-left:15px;}
.Order_box .line_02{padding-left:10px; background-color:#FFF; float:left;}
.Order_box .line_02 .ul_01{float:left; padding-top:10px;}
.Order_box .line_02 .ul_01 .li_05{border:1px solid #CCC; height:60px; float:left;}
.Order_box .line_02 .ul_01 .li_06{width:240px; float:left; line-height:18px; padding:0px 5px;}
.Order_box .line_02 .ul_01 .li_06 a{color:#007feb;}
.Order_box .line_02 .ul_01 .li_06 span{width:240px; float:left; color:#aaaaaa;}
.Order_box .line_02 .ul_02{height:85px; float:left;padding-top:10px;}
.Order_box .line_02 .ul_02 li{float:left; line-height:20px;}
.Order_box .line_02 .ul_02 li span{color:#ff9400;}
.Order_box .line_02 .ul_02 .li_07{position:relative;}
.Order_box .line_02 .ul_02 .li_07 .li_07_box{position:absolute; top:-65px; left:86px; width:350px; z-index:999;}
.Order_box .line_02 .ul_02 .li_07 .li_07_box span{width:15px; height:15px; margin-top:60px; float:left; margin-right:-7px;}
.Order_box .line_02 .ul_02 .li_07 .li_07_box ul{width:325px; float:left; padding:5px; border:2px solid #CCC; border-radius:4px; background-color:#f9f9f9; overflow:hidden;word-break: break-all; word-wrap:break-word; height:140px;}
.Order_box .line_02 .ul_02 .li_07 .li_07_box ul li{width:325px; float:left; height:20px; line-height:20px; text-align:left; font-weight:normal; font-size:11px;}
.Order_box .line_02 .ul_03{float:left; padding-top:10px;}
.Order_box .line_02 .ul_03 .li_pot{position:relative;}
.Order_box .line_02 .ul_03 .xx{position:absolute; width:230px; border:1px solid #cccccc; background-color:#FFF; border-radius:4px; top:-60px; left:90px; padding:5px;}
.Order_box .line_02 .ul_03 .xx span{height:20px; line-height:20px; float:left; padding-left:20px; text-align:left;}
.Order_box .line_02 .ul_03 .xx i{position:absolute; width:4px; height:7px; top:70px; left:-10px;}
.Order_box .line_02 .ul_03 .xx td{border:none; line-height:18px; font-size:10px;}
.Order_box .line_02 .ul_03 li{float:left; text-align:left; line-height:24px; color:#007feb;}
.Order_box .line_02 .ul_03 li img{margin-left:5px;}
.Order_box .line_02 .ul_04{float:left; padding-top:10px;}
.Order_box .line_02 .ul_04 li{ float:left; text-align:center; line-height:22px; color:#007feb;}
.Order_box .line_02 .ul_04 .li_09{height:22px; margin-bottom:5px; line-height:22px; float:left;}
.Order_box .line_02 .ul_04 .li_09 a{ color:#FFF; background-color:#09F;margin-left:20px; _margin-left:15px; float:left; padding:1px 6px; border-radius:5px;}
.Order_box .line_02 .ul_02 .li_07 .li_ship_box_loading{position:absolute; top:-10px; left:86px; width:350px; z-index:999;}
.Order_box .line_02 .ul_02 .li_07 .li_ship_box_loading span{width:15px; height:15px; margin-top:5px; float:left; margin-right:-7px;}
.Order_box .line_02 .ul_02 .li_07 .li_ship_box_loading b{width:325px; float:left; padding:5px; border:2px solid #CCC; border-radius:4px; background-color:#f9f9f9;}
.Order_box .line_02 .ul_02 .li_10{height:22px; margin:3px 0px 14px; float:left;}
.Order_box .line_02 .ul_02 .li_10 a{background-color:#f2f2f2; border:1px solid #8d8d8d; border-radius:4px; padding:0px 6px; color:#333;}
.Order_box .line_02 .ul_04 .li_11{height:22px; float:left; background-color:#09F; border-radius:5px; margin-bottom:3px;}
.Order_box .line_02 .ul_04 .li_11 a{color:#FFF;}
.Order_box .line_02 .ul_02 .li_09 a{background-color:#f2f2f2; border:1px solid #8d8d8d; border-radius:4px; padding:1px 6px; color:#333; margin-top:3px;}
